@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('/images/guestbookbg.jpg');
    background-size: cover; 
    background-position: center;
    height: 100vh;
    opacity: 0.8;
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center;
    
    margin-left: 35%; /* 오른쪽과 가운데 사이쯤에 위치하도록 왼쪽 여백 설정 */
}

.container {
    width: 50vw;
    margin: 20px;
    padding: 0px 20px 20px 20px;
}

.container h1 {
    text-align: center;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    padding: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* 부드러운 그림자 효과 추가 */
    opacity: 0.7;
}

.author-input,
.content-input,
.add-todo-btn {
    border: none;
    border-radius: 8px;
    height: 50px; /* 높이 설정 */
}

.content-input::placeholder, .author-input::placeholder {
    color: #333; /* 진한 회색으로 설정 */
    opacity: 1; /* 투명도 조절 */
}


.author-input {
    font-size: 20px;
    margin-bottom: 20px;
    padding: 10px;
    opacity: 0.5;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(196, 191, 191, 0.2);
    background-color: #b4afa0;
    transition: transform 0.3s ease;
    width: calc(25% - 10px); /* author의 가로길이 설정 */
}

.content-input {
    font-size: 20px;
    margin-bottom: 20px;
    padding: 10px;
    opacity: 0.5;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(196, 191, 191, 0.2);
    background-color: #b4afa0;
    transition: transform 0.3s ease;
    width: calc(65% - 10px); /* content의 가로길이 설정 */
}

.add-todo-btn {
    font-size: 16px;
    padding: 10px;
    background-color: #b1e2fb;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: calc(10% - 10px); /* 버튼의 가로길이 설정 */
    margin-left: 10px; /* 각 요소 사이 간격 조정 */
}

.add-todo-btn:hover {
    background-color: #82c9ed; /* Hover 효과에 따른 색상 변경 */
}


.todos-container {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    width: calc(100% - 20px); /* 컨테이너의 가로길이를 버튼과 맞춤 */
    max-width: 600px;
    overflow-y: auto; /* 세로 스크롤을 추가 */
    height: 210px; /* 최대 높이 설정 */
}

.todo-item {
    background-color: rgba(227, 228, 223, 0.3); 
    color: #665050; 
    font-weight: 500; 
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-size: 16px;
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    word-wrap: break-word; 
}

.todo-item:hover {
    background-color: #bbe2f6;
}

.delete-btn {
    display: none; 
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: rgba(168, 39, 51, 0.7);
    color: white;
    border: none; 
    padding: 5px 10px;
    border-radius: 10%;
    font-size: 12px;
    cursor: pointer; 
}

.todo-item:hover .delete-btn {
    display: block; 
}


.home-link {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999; /* 다른 요소 위에 표시되도록 설정 */
}
.home-link i {
    font-size: 26px; /* 아이콘 크기 조절 */
    color: #333; /* 아이콘 색상 지정 */
}

